body{
    background-color: skyblue;
    font-size: 15px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 50px; 
    padding-bottom: 10px;
}

header{
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;    
    background-color: dimgray;
}

header>a{
    text-decoration: none;
    padding: 1%;
}

#first{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5%;
}

#first>div{
    padding-left: 5%;
}

#profile{
    border-radius: 50%;
}

#clear{
    border-top: solid 3px rgb(71, 39, 100);
    padding-top: 2% ;
    clear: left;
}

.copy{
    text-align: center;
}

form{
    margin: 3%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

#formdiv{
    background-color: rgb(248, 240, 240);
    width: 50%;
}

#button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightseagreen;
    background-color: cornsilk;
    width: 25%;
    margin: 2%;
}

@media (max-width:1000px){
    body{
        width: 100%;
    }
}

@media (min-width:300px){
    body{
        width: 100%;
    }
}