body{
    background-color: skyblue;
    font-size: 15px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 50px; 
    padding-bottom: 10px;
}
header{
    background-color: dimgray;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;}

header>a{
    text-decoration: none;
    padding: 1%;
}

h3 {
    text-transform: uppercase;


}
img{
    border-radius: 100%;
    padding: 10px;
    height: 400px;
    width: 30%;  
}
#Img1{
    float: left;
}
#div2{
    clear: left;
}
#Img4{ 
    float: left;
}
#div3{
    clear:left;
}